/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   background-color:#E2E9C0;
   width: 100%;
   height: 100%;
   margin: 0;
   display: flex;
   flex-direction: column;
   
}

h1, h2 {
   margin: 0;
   color: #222;
}

h3, h4, h5, h6 {
   margin: 0;
   font-weight: normal;
   color: #555;
}

p {
   margin: 0;
   line-height: 1.6;
   color: #666;
}

/* Navigation */
header{
   background-color: #7AA95C;
   position: sticky; /* Ceci permet au header de rester visible lors du scroll */
   top: 0;
   width: 100%;
   z-index: 1000; /* S'assure que le header reste au-dessus des autres éléments */
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 0 16px 0 16px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navThemes {
   display: flex;
   gap:16px;
   margin: 0;
   text-align: center;
   font-size: 14px ;

}

ul {
   list-style-type: none;
   display: flex;
   align-items: center;
   gap: 24px;
   padding: 10px;
}

nav ul li a {
   color: #333;
   text-decoration: none;
   position: relative;
   transition: color 0.3s;
}

nav ul li a::after {
   content: '';
   position: absolute;
   width: 0;
   height: 2px;
   background:#9BCFAA;;
   left: 0;
   bottom: -2px;
   transition: width 0.3s;
}

nav ul li a:hover {
   color: #9BCFAA;;
}

nav ul li a:hover::after {
   width: 100%;
}


main{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin: 0 2%;
}


.avatar{
    width: 50px;
    height: 50px;
    border: solid 1px black;
    border-radius: 100%;
    object-fit: cover;
    background-color:#E2E9C0;

 }

 .avatar img{
   width: ;: 10%;
 }
 


#logo{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   color: #9BCFAA;
   width: 15%;
 
 }

 #logo h2 {
   font-size: 20px;
 }


#logo img {
   object-fit:contain;
   width: 64px;
   height: 64px;
}


/* INTRO */

#introContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 24px;
 }

 #introImage img{
   object-fit:cover;
   width: 100%;
   height: 400px;

 }

#themeContainer{
   padding: 24px 0 0;
   margin: 0;
}

.theme-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: medium;
    font-weight: normal;
 }
 
.themeCard{
   height: 180px;
   width: 200px;
   
}

.themeCard h2{
   width: 100%;
   height: 40%;

}

.themeCard p{
font-size: 14px;
}
  /* Main Article */

 #mainArticleContainer{
   display: flex;
   flex-direction: column;
   padding: 24px 24px 0 24px;
   width: 50%;


}

#mainArticleContainer p{
  margin: 16px 0 16px 0;
}
 /* Autres Articles */

 .articleContainer{
   display: flex;
   flex-direction: row;
   background-color: white;
   border-radius: 16px;
   transition: all .3s ease-in-out;

 }

 .articleContainer:hover{
   transform: scale(1.03)
   
 }

.articleText{
   display: flex;
   flex-direction: column;
   align-items: baseline;
   width: 100%;
   padding:24px;

}

.articleText a{
   margin-top: 36px;
}
.articleContainer img{
   object-fit:cover;
   width: 480px;
   height: 200px;
   border-radius: 16px 0 0 16px ;
}

#autresArticlesSection{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:24px;
   padding: 24px 24px 48px 24px;
}

#autresArticlesContainer{
display: flex;
flex-direction: column;
gap:24px;
}



/* Auteurs */

#auteursSection{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;

}

#auteursContainer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
   padding: 24px;
}
.auteurCard{
   width: 25%;
   height: auto;
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 16px;
   overflow: hidden;
   transition: all .3s ease-in-out;
   -webkit-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
   -moz-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
   box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
   padding: 16px;
}

.auteurCard p{
   padding: 8px 0 0 0;
}
.auteurCard:hover{
   transform: scale(1.1)

}

.avatarAuteur{
   width: 100px;
   height: 100px;
   border: solid 2px black;
   border-radius: 100%;
   object-fit: cover;

}

/* Footer */

footer {
   padding: 24px;
   background-color: #7AA95C;
   box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
   color: black;
}

#copyrights {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 100px;
   margin-bottom: 0;
}

/* GENERAL TOOLS */

.button{
   width: fit-content;
   display: flex;
   align-items: center  ;
   justify-content: center;
   padding: 8px 16px;
   border-radius: 8px;
   border: solid 2.5px #7AA95C;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.button:hover{
   border: solid 2.5px #86b966;
}

.primary{
   background: #7AA95C;
   color: white;
}

.primary:hover{
   background: #86b966;
}

.secondary{
   background:#E2E9C0;
   color: #7AA95C;
} 

.secondary:hover{
   color: #9BCFAA;
   background-color:#E2E9C0;
}

.buttons-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.avatar{
   width: 50px;
   height: 50px;
   border: solid 2px black;
   border-radius: 100%;
   object-fit: cover;
}

.link{
   color: black;
   font-weight: 400;
   text-decoration: none;
   transition: all .3s ease-in-out;
}

.link:hover{
   color: #9BCFAA;
}


.button:hover{
   border: solid 2.5px #9BCFAA;
}
